<div
  class="main-title text-center font-semibold text-[28px] 2xl:text-[90px] lg-xl:text-[60px] md:text-[50px] mb-4"
>
  <h2
    class="sm:-translate-x-[50px] md:-translate-x-[110px] lg-xl:-translate-x-[160px] 2xl:-translate-x-[205px] md:-mb-4 leading-none"
    gsapAnimate
    animationType="fade-left"
  >
    <ng-content select=".left"></ng-content>
  </h2>
  <h2
    class="sm:translate-x-[50px] md:translate-x-[110px] lg-xl:translate-x-[160px] 2xl:translate-x-[205px]"
    gsapAnimate
    animationType="fade-right"
  >
    <ng-content select=".right"></ng-content>
  </h2>
</div>
