<svg
  id="Layer_2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 26.93 15.95"
  aria-hidden="true"
  style="width: 27px; fill: black"
  class="cursor-pointer"
>
  <defs _ngcontent-creatsyshop-c20="">
    <style _ngcontent-creatsyshop-c20="">
      .cls-1 {
        fill: none;
        stroke-width: 0.93px;
      }
      .cls-1,
      .cls-2 {
        stroke: #000;
        stroke-miterlimit: 10;
      }
      .cls-2 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="Layer_2-2" _ngcontent-creatsyshop-c20="">
    <path class="cls-2" d="m0,3.44h9.24H0Z"></path>
    <path class="cls-2" d="m0,9.43h9.24H0Z"></path>
    <path class="cls-2" d="m0,15.45h14.95H0Z"></path>
    <circle class="cls-1" cx="18.4" cy="6.47" r="6.01"></circle>
    <path class="cls-2" d="m22.23,11.1l4.34,4.34-4.34-4.34Z"></path>
  </g>
</svg>
