<app-heroslider></app-heroslider>
<!-- new mockups slider  -->
<section class="new-mockups py-sec-p border-b border-hr-color">
  <div class="container max-w-full relative">
    <div
      class="flex justify-between items-center px-[14px] flex-col sm:flex-row mb-3 gap-y-3"
    >
      <div class="">
        <h2 class="text-[1.875rem] lg-xl:text-[3.75rem] font-semibold">
          New mockups
        </h2>
      </div>
      <div class="selection text-[1.125rem]">
        <button (click)="premiumMokups()" [class]="{ 'font-bold': !isFree }">
          Premium
        </button>
        <span class="font-bold px-3"> — </span>
        <button (click)="freeMokups()" [class]="{ 'font-bold': isFree }">
          Free
        </button>
      </div>
    </div>
    @if (!isFree) {
    <app-home-slider></app-home-slider>
    } @else {
    <app-home-slider [slides]="[1, 2, 3]" [sliderFree]="true"></app-home-slider>
    }
  </div>
  @if (!isFree) {
  <app-custombtn> Shop Now </app-custombtn>

  } @else {
  <app-custombtn> Browse </app-custombtn>
  }
</section>
<!-- new 3d-mockups slider  -->
<section class="new-3d-mockups py-sec-p border-b border-hr-color">
  <div class="container max-w-full relative">
    <div class="px-[14px]">
      <h2 class="text-[1.875rem] lg-xl:text-[3.75rem] font-semibold mb-3">
        New 3D models
      </h2>
    </div>
    <app-home-slider></app-home-slider>
  </div>
  <app-custombtn> Shop Now </app-custombtn>
</section>
<!-- creator section  -->
<section class="creator py-sec-p overflow-hidden">
  <div class="contianer max-w-full">
    <app-main-title>
      <span class="left">We bring the creator's</span>
      <span class="right">vision to life.</span>
    </app-main-title>
  </div>
</section>
<!-- creator-content section  -->
<section class="creator-content bg-main-color text-white">
  <div
    class="container max-w-full relative flex justify-center flex-col lg:flex-row"
  >
    <div
      class="max-w-[550px] lg-xl:[20px] 2xl:text-[25px] pt-14 m-auto lg:pt-0 lg:ms-16 lg:absolute lg:right-[70%] lg:top-[60px] z-10"
      gsapAnimate
      animationType="fade-up"
    >
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The combination of pictures
        and digital renderings allows us to create the extremely realistic PSD
        mockups we are known for worldwide
        <a href="#" class="ms-2"
          ><i class="fa-solid fa-arrow-right-long"></i
        ></a>
      </p>
    </div>
    <div class="img-holder max-w-[1500px] w-full flex justify-center">
      <img src="./open-box.webp" alt="" class="w-full lg:scale-[80%]" />
    </div>
    <div
      class="bottom-left max-w-[500px] lg:max-w-[320px] m-auto lg:absolute lg:bottom-[20%] lg:right-[70%] text-center lg:text-end lg:ms-4"
    >
      <img
        src="https://creatsy.com/assets/modules/home/creators-visions/color-circle.png"
        class="mx-auto lg:ms-auto lg:mx-0"
        alt=""
        gsapAnimate
        animationType="rotate"
        [delay]="0.5"
      />
      <h3
        class="text-[30px] relative my-4 m-auto lg:ms-0 after:h-[1px] 2xl:after:w-[7.5vw] after:hidden lg:after:block after:w-[7vw] after:bg-gray-500 after:absolute after:left-[calc(100%+15px)] after:top-[54%]"
      >
        Vibrant Colors
      </h3>
      <p class="text-gray-400" gsapAnimate animationType="fade-up">
        We provide unique overlay layers for various textures and finishes that
        add realistic detail without causing a loss of contrast or saturation
        when applied to your designs.
      </p>
    </div>
    <div
      class="bottom-right text-center lg:text-start max-w-[500px] lg:max-w-[320px] m-auto lg:absolute lg:top-[25%] xl:top-[30%] lg:left-[70%] my-14"
    >
      <app-wave-svg></app-wave-svg>
      <h3
        class="text-[25px] relative my-4 m-auto lg:ms-0 after:h-[1px] after:hidden lg:after:block after:w-[5vw] 2xl:after:w-[5.5vw] after:bg-gray-500 after:absolute after:right-[calc(100%+15px)] after:top-[54%]"
      >
        Perfectly warped. Always.
      </h3>
      <p class="text-gray-400" gsapAnimate animationType="fade-up">
        We use as many tools and techniques as possible with our smart object
        layers to ensure our product mockups are as realistic as they can be.
      </p>
    </div>
  </div>
</section>
<!-- blog section  -->
<section class="py-sec-p">
  <div class="container max-w-full">
    <div class="blog grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
      <div class="img-holder h-[260px] sm:h-[350px] lg:h-[384px] 2xl:h-[579px]">
        <img
          [src]="imgSrc"
          [alt]="imgAlt"
          class="w-full h-full object-contain"
        />
      </div>
      <div class="blog-links">
        <ul>
          @for (blog of blogs; track blog.id) {
          <a href="#" (mouseover)="changeBlogImg($index)">
            <li class="border-b border-hr-color mb-4 group">
              <span class="text-xs uppercase">{{ blog.date }}</span>
              <div
                class="blog-title flex justify-between items-center pb-8 md:pb-6 lg:pb-8 2xl:pb-12"
              >
                <h3
                  class="text-[24px] md:text-[1.1875rem] lg:text-[1.75rem] xl:text-[2.5rem] 2xl:text-[3rem] font-semibold leading-none"
                >
                  {{ blog.title }}
                </h3>
                <i
                  class="fa-solid fa-chevron-right text-3xl lg:text-4xl 2xl:text-5xl invisible group-hover:visible"
                ></i>
              </div>
            </li>
          </a>
          }
        </ul>
      </div>
    </div>
    <app-custombtn>More From blog</app-custombtn>
  </div>
</section>
<!-- studio section -->
<section>
  <div
    class="background-img relative min-h-[50vh] md:min-h-[75vh] lg:min-h-screen"
  >
    <div class="hidden" aria-hidden="true">
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/1/studio-1-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/2/studio-2-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/3/studio-3-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/4/studio-4-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/5/studio-5-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/6/studio-6-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/7/studio-7-md.webp"
      />
      <img
        src="https://creatsy.com/assets/modules/home/studio-photos/8/studio-8-md.webp"
      />
    </div>
    <div
      class="overlay bg-[#00000099] absolute w-full bottom-0 h-1/2 md:w-1/2 md:top-0 md:h-full flex justify-center items-center z-10"
    >
      <p
        class="text-[15px] lg-xl:text-[26px] text-white font-light"
        gsapAnimate
        animationType="fade-up"
      >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;How we do it? We use
        professional <br />
        photography equipment and 3D software <br />
        to create digitally rendered, high-quality <br />
        product mockups.<a href="#" class="ms-2"
          ><i class="fa-solid fa-arrow-right-long"></i
        ></a>
      </p>
    </div>
  </div>
</section>
<!-- about-us section  -->
<section class="py-sec-p overflow-hidden">
  <div class="container max-w-full">
    <app-main-title>
      <span class="left">If you can dream it,</span>
      <span class="right">we can make it.</span>
    </app-main-title>
    <div class="text-center">
      <p
        class="max-w-[880px] lg-xl:max-w-[1100px] mx-auto leading-8 font-light font-sans lg:text-[18px]"
      >
        <span class="font-normal text-[18px] lg:text-[23px]"
          >We pride ourselves on our unique structure.</span
        >
        We are an independently owned design studio, producing our own mockups
        and responding to each inquiry personally. We have an portfolio of
        thousands of mockups from all industries. Our committed team of
        passionate people craft genuine work for clients, ranging from startup
        companies to well-known brands, throughout the world. Our work includes
        product mock-ups, photography, 3D modeling and software development.
      </p>
    </div>
    <app-custombtn>About</app-custombtn>
  </div>
</section>
<!-- categories section  -->
<section class="categories">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    @for (cate of categories; track $index) {
    <div
      class="cate group relative overflow-hidden"
      [class]="{
        'md:hidden': $last,
        'lg:hidden': $index === categories.length - 2
      }"
    >
      <a href="#">
        <img
          [src]="cate.imgSrc"
          [alt]="cate.name"
          class="w-full h-full object-cover"
        />
        <img
          class="hover-img w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity ease-in duration-300 group-hover:opacity-100"
          [src]="cate.hoverImgSrc"
          [alt]="cate.name"
        />
      </a>
      <div
        class="cate-name absolute text-center right-0 bottom-0 w-full sm:w-auto translate-x-[110%] transition-transform duration-300 ease-in-out group-hover:translate-x-0 p-4 sm:px-10 sm:py-6 bg-main-color text-white z-20"
      >
        <span class="uppercase text-sm md:text-base">{{ cate.name }}</span>
      </div>
    </div>
    }
    <div class="bg-main-color grid place-items-center">
      <a href="#" class="uppercase text-white">
        All categories
        <i class="fa-solid fa-arrow-right-long ms-1"></i>
      </a>
    </div>
  </div>
</section>
<!-- testimonials section -->
<section class="testimonial py-sec-p">
  <app-testimonials></app-testimonials>
</section>
<!-- subscribe section  -->
<section class="py-sec-p lg-xl:py-[100px] hidden md:block bg-main-color">
  <div class="container">
    <h3
      class="text-white text-[1.6875rem] xl:text-[3.125rem] leading-tight mb-7"
    >
      Grap 10% Off <span class="xl:text-[1.25rem]">(first purchase)</span><br />
      and get instant updates.
    </h3>
    <div
      class="card flex flex-col md:flex-row gap-4 w-full border-[#dedede33] border-y py-3 lg-xl:py-6"
    >
      <p-inputgroup>
        <input
          pInputText
          type="email"
          placeholder="Email"
          class="w-full outline-none text-white text-[.9375rem] lg-xl:text-[1.5rem] placeholder:text-[.9375rem] lg-xl:placeholder:text-2xl placeholder:text-[#dedede33] bg-transparent caret-white"
        />
        <button
          class="bg-transparent flex items-center text-white text-[.9375rem] lg-xl:text-2xl font-extralight hover:font-normal"
        >
          Subscribe
          <i
            class="fa-solid fa-arrow-right-long text-lg ms-2 translate-y-1"
          ></i>
        </button>
      </p-inputgroup>
    </div>
  </div>
</section>
