<div class="hero-slider relative h-[75vh] overflow-hidden bg-[#191919]">
  <swiper-container
    #swiperContainer
    class="mySwiper"
    loop="true"
    autoplay="true"
    autoplay-delay="5000"
    *ngIf="isBrowserOnly"
  >
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/affiliate/slide-affiliate-md.webp"
        alt="Affiliate Program"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center text-white"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            Affiliate <br />
            Program is Here!
          </h1>
        </div>
        <hr class="bg-[#ddd]" />
        <p
          class="mb-6 text-sm md:text-base mt-6 animate__animated animate__fadeInUp"
        >
          Do you love sharing Creatsy’s stunning mockups with your audience?
          Earn up to
          <span class="font-bold">15% commission for every new customer</span>
          you refer and
          <span class="font-bold">10% for returning customers.</span>
        </p>
        <a
          href=""
          class="flex items-center mt-10 text-center px-8 py-5 w-fit mx-auto bg-main-color text-white text-sm hover:font-bold animate__animated animate__fadeInUp"
        >
          <span class="uppercase">Become An Affiliate</span>
          <i class="fa-solid fa-arrow-right-long ps-2"></i>
        </a>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-white italic"
      >
        Project:
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <a href="" class="w-full h-full">
        <img
          src="https://creatsy.com/assets/modules/home/slider/slides/bashly/slide-bashly-md.webp"
          alt="Party-themed Mockups"
        />

        <p
          class="text-xs absolute left-1/2 -translate-x-1/2 bottom-[7.5%] lg-xl:left-[2.5%] text-white lg-xl:-translate-x-0 italic"
        >
          Project:
        </p>
      </a>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/box/slide-boxes2-md.webp"
        alt="Freaking mockup machine"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center text-white"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            Freaking <br />
            mockup machine
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          We are professional graphic design studio specialized in
          <span class="font-bold">highest quality product mockups.</span> We are
          designing PSD templates for almost each industry sector.`,
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-white border-[1px] border-[#dedede33] hover:bg-main-color hover:border-main-color"
          >
            <span class="uppercase">Exploar</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-white text-center italic"
      >
        Project:
        <a href="" class="underline">Noissue Mailing Box Mockup Set v.1</a>
        <span class="ms-3 me-1 mt-2 block lg-xl:inline"
          >Design applied by:
          <a href="https://linktr.ee/nkate" target="_blank" class="underline"
            >NKate</a
          ></span
        >
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <a href="" class="w-full h-full">
        <img
          src="https://creatsy.com/assets/modules/home/slider/slides/vinyls/slide-vinyls-md.webp"
          alt="Vinyl Record Mockup"
        />

        <p
          class="text-xs absolute left-1/2 -translate-x-1/2 bottom-[7.5%] lg-xl:left-[2.5%] lg-xl:-translate-x-0 italic"
        >
          Project:
        </p>
      </a>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/pillow/slide-pillow2-md.webp"
        alt="What is mockup?"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center lg-xl:left-[7%] lg-xl:text-left lg-xl:-translate-x-0"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            What is <br />
            mockup?
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          <span class="font-bold"
            >It's a digital layered file that allows you to apply patterns to a
            specific product. </span
          >Learn more about mockups and why they may be usefull for your
          business
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-main-color border-[1px] border-[#19191933] hover:bg-main-color hover:text-white hover:border-main-color lg-xl:ms-0"
          >
            <span class="uppercase">What is mockup?</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-center italic"
      >
        Project:
        <a href="" class="underline">Velvet Cushion with Tassels Mockup Set</a>
        <span class="ms-3 me-1 mt-2 block lg-xl:inline"
          >Design applied by:
          <a
            href="https://linktr.ee/paperaesthetic"
            target="_blank"
            class="underline"
          >
            Paper Aesthetic</a
          ></span
        >
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/shawl/slide-shawl2-md.webp"
        alt="Creative collabs"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center lg-xl:left-[7%] lg-xl:text-left lg-xl:-translate-x-0"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            Creative collabs
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          We were always focused on
          <span class="font-bold">collaborations with other designers.</span>
          Check how it works and how to join our creative community.
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-main-color border-[1px] border-[#19191933] hover:bg-main-color hover:text-white hover:border-main-color lg-xl:ms-0"
          >
            <span class="uppercase">Creative collabs</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-center italic"
      >
        Project:
        <a href="" class="underline">Square Silk Scarf Mockup Set (13FFv.12)</a>
        <span class="ms-3 me-1 mt-2 block lg-xl:inline"
          >Design applied by:
          <a href="https://www.gandsilk.com/" target="_blank" class="underline">
            Gloria Franco</a
          ></span
        >
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/fabrics/slide-fabrics2-md.webp"
        alt="Fabric Factory"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center lg-xl:left-[7%] lg-xl:text-left lg-xl:-translate-x-0"
      >
        <app-fabricsvg></app-fabricsvg>
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight text-center"
          >
            Fabric Factory
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base text-center animate__animated animate__fadeInUp"
        >
          <span class="font-bold"
            >Biggest collection of fabric mockups available on the market.</span
          >
          This series includes mockups for cottons, silks, linen and much more!
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-main-color border-[1px] border-[#19191933] hover:bg-main-color hover:text-white hover:border-main-color"
          >
            <span class="uppercase">Explore</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-center italic"
      >
        Project:
        <a href="" class="underline">Fabric Rolls Mockup Set (14/FFv.11)</a>
        <span class="ms-3 me-1 mt-2 block lg-xl:inline"
          >Design applied by:
          <a
            href="https://juliadreamsdesign.com/"
            target="_blank"
            class="underline"
          >
            Julia Dreams</a
          ></span
        >
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/coffe/slide-coffee2-md.webp"
        alt="Packaging mockups"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center text-white"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium text-wrap sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] 2xl:text-nowrap tracking-[-2px] leading-tight"
          >
            Packaging mockups
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          We are professional graphic design studio specialized in
          <span>highest quality product mockups.</span>
          We are designing PSD templates for almost each industry sector.
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-white border-[1px] border-[#dedede33] hover:bg-main-color hover:border-main-color"
          >
            <span class="uppercase">Exploar</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-gray-300 italic"
      >
        Project:
        <a href="" class="underline"> Coffee Bag Mockup Set (matte finish)</a>
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/shawl/slide-shawl2-md.webp"
        alt="Creative collabs"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center lg-xl:left-[7%] lg-xl:text-left lg-xl:-translate-x-0"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            Cosmetics <br />
            & Beauty
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          Create attractive and realistic images of beauty products, such as
          <span class="font-bold">
            makeup, skincare, haircare, fragrances, nail art and more.</span
          >
          Use the ready images to create advertising, prints, website banners,
          social media posts and other promotional materials. Give a potential
          customer clear visual impression of what a product looks like on high
          quality, digital image.
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-main-color border-[1px] border-[#19191933] hover:bg-main-color hover:text-white hover:border-main-color lg-xl:ms-0"
          >
            <span class="uppercase">Browse Category</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-center italic"
      >
        Project:
        <a href="" class="underline"> Lipstick Mockup Set</a>
        <span class="ms-3 me-1 mt-2 block lg-xl:inline"
          >Design applied by:
          <a
            href="https://www.tashistudio.com/"
            target="_blank"
            class="underline"
          >
            Tashi Studio</a
          ></span
        >
      </p>
    </swiper-slide>
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/drinkware/slide-drinkware2-md.webp"
        alt="Drinkware"
      />
      <div
        class="caption w-full px-4 sm:max-w-[640px] sm:px-0 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center lg-xl:left-[7%] lg-xl:text-left lg-xl:-translate-x-0"
      >
        <div class="title pb-6 animate__animated animate__fadeInUp">
          <h1
            class="text-[42px] font-sans font-medium sm:text-[42px] md:text-[55px] lg:text-[70px] 2xl:text-[85px] tracking-[-2px] leading-tight"
          >
            Drinkware
          </h1>
        </div>
        <p
          class="mb-6 text-sm md:text-base animate__animated animate__fadeInUp"
        >
          <span class="font-bold"
            >It's a digital layered file that allows you to apply patterns to a
            specific product.</span
          >Learn more about mockups and why they may be usefull for your
          business.
        </p>
        <div class="pb-10">
          <a
            href=""
            class="animate__animated animate__fadeInUp flex items-center mt-10 mx-auto text-center px-8 py-5 w-fit transition-all duration-300 ease-in bg-transparent text-main-color border-[1px] border-[#19191933] hover:bg-main-color hover:text-white hover:border-main-color lg-xl:ms-0"
          >
            <span class="uppercase">Browse Category</span>
            <i class="fa-solid fa-arrow-right-long ps-2"></i>
          </a>
        </div>
      </div>
      <p
        class="text-xs absolute bottom-[7.5%] lg-xl:left-[2.5%] text-center italic"
      >
        Project:
        <a href="" class="underline">Square Coasters Mockup Set v.1</a>
      </p>
    </swiper-slide>
  </swiper-container>

  <button class="custom-prev hidden md:flex" (click)="slidePrev()">
    <i class="fa-solid fa-chevron-left text-3xl"></i>
    <app-slashsvg></app-slashsvg>
    <div class="absolute top-[20%] right-[35%] text-xs">
      {{ currentIndex + 1 }}
    </div>
    <div class="absolute bottom-[20%] right-[15%] text-xs">10</div>
  </button>
  <button class="custom-next hidden md:flex" (click)="slideNext()">
    <app-slashsvg></app-slashsvg>
    <div class="absolute top-[20%] left-[15%] text-xs">
      {{ currentIndex + 1 }}
    </div>
    <div class="absolute bottom-[20%] left-[32%] text-xs">10</div>
    <i class="fa-solid fa-chevron-right text-3xl"></i>
  </button>
</div>
