<div class="hero-slider relative h-[75vh]">
  <swiper-container class="mySwiper" navigation="true">
    <swiper-slide class="relative">
      <img
        src="https://creatsy.com/assets/modules/home/slider/slides/affiliate/slide-affiliate-md.webp"
        alt=""
      />
      <div
        class="caption absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <div class="title border-b-[1px] border-[#ddd] pb-6 mb-6">
          <h1
            class="text-white text-[55px] font-serif lg:text-[70px] 2xl:text-[90px] tracking-[-2px] leading-tight"
          >
            Affiliate <br />
            Program is Here!
          </h1>
        </div>
        <p class="mb-6 text-white">
          Do you love sharing Creatsy’s stunning mockups with your audience?
          Earn up to
          <span class="font-bold"> 15% commission for every new customer</span>
          you refer and
          <span class="font-bold">10% for returning customers.</span>
        </p>
        <a
          href=""
          class="flex items-center mt-10 text-center px-8 py-5 w-fit mx-auto bg-main-color text-white text-sm hover:font-bold"
        >
          <span class="uppercase">Become An Affiliate</span>
          <i class="fa-solid fa-arrow-right-long ps-2"></i>
        </a>
      </div>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>
</div>
